.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 17px;
}

.footer__text {
    font-weight: var(--tertiary-font-weight, 300);
    font-style: var(--secondary-font-style, italic);
}