.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}

.footer__text {
    font-weight: var(--secondary-font-weigth, 300);
    font-style: var(--secondary-font-style, italic);
}