.home {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10vw;
    padding: 100px 0;
    background-color: var(--tertiary-color, #fefefe);
    font-size: var(--secondary-font-size, 1.3vw);
    font-style: var(--primary-font-style, normal);
    color: var(--primary-color, #285430);
}

.home__title {
    font-weight: var(--primary-font-weigth, 700);
    margin-bottom: 17px;
}

.home__text {
    font-weight: var(--tertiary-font-weight, 300);
}

.home__img {
    width: 13vw;
}