.our-products {
    background-color: var(--tertiary-color, #fefefe);
    padding: 25px 28vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.our-products__img-container {
    text-align: center;
    color: var(--primary-color, #285430);
    font-size: var(--secondary-font-size, 1.3vw);
    font-style: var(--primary-font-style, normal);
    font-weight: var(--tertiary-font-weight, 300);
}

.our-products__img-container__img {
    width: 12vw;
    height: 9vw;
}