.our-products {
    padding: 25px 28vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2vw;
}

.our-products__img-container {
    text-align: center;
    font-style: var(--primary-font-style, normal);
    font-weight: var(--tertiary-font-weight, 300);
}

.our-products__img-container__img {
    width: 12vw;
    height: 9vw;
}