@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

:root {
    --primary-color: #285430;
    --secondary-color: #e6d9b6;
    --tertiary-color: #fefefe;

    --primary-font-size: 2vw;
    --secondary-font-size: 1.3vw;

    --main-font-family: "Roboto", sans-serif;

    --primary-font-weigth: 700;
    --secondary-font-weigth: 300;

    --primary-font-style: normal;
    --secondary-font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

.header, .footer, .header-space {
    padding: 20px 0;
}

.header, .footer {
    background-color: var(--primary-color, #285430);
}

.header, .header-space, .presentation__text, .footer__title, .footer__text {
    font-size: var(--secondary-font-size, 1.3vw);
}

.header, #presentation, .footer__title {
    font-style: var(--primary-font-style, normal);
}

.header, .presentation__title, .footer__title {
    font-weight: var(--primary-font-weigth, 700);
}

.anchor, .footer {
    color: var(--tertiary-color, #fefefe);
}

.anchor {
    text-decoration: none;
}

.anchor:hover, .anchor:active {
    color: var(--secondary-color, #e6d9b6);
    font-weight: var(--primary-font-weigth, 700);
}

.content {
    background-color: var(--tertiary-color, #fefefe);
    color: var(--primary-color, #285430);
    font-size: var(--secondary-font-size, 1.3vw);
}