@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #285430;
    --secondary-color: #e6d9b6;
    --tertiary-color: #fefefe;

    --primary-font-size: 2vw;
    --secondary-font-size: 1.3vw;

    --primary-font-weigth: 700;
    --secondary-font-weigth: 400;

    --main-font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: var(--main-font-family);
    font-style: normal;
}